/* */
/* static non-generated stuff */
/* margin helpers */
.no-m-lr, .no-m-rl { margin-left: 0 !important; margin-right: 0 !important; }
.no-m-tb, .no-m-bt { margin-top: 0 !important; margin-bottom: 0 !important; }
.m-t-only { margin-left: 0 !important; margin-right: 0 !important; margin-bottom: 0 !important; }
.m-b-only { margin-left: 0 !important; margin-right: 0 !important; margin-top: 0 !important; }
.m-l-only { margin-right: 0 !important; margin-top: 0 !important; margin-bottom: 0 !important; }
.m-r-only { margin-left: 0 !important; margin-top: 0 !important; margin-bottom: 0 !important; }
.m-auto { margin-left:auto; margin-right:auto; }

/* */
/* padding helpers */
.no-pad-lr, .no-pad-rl { padding-left: 0 !important; padding-right: 0 !important; }
.no-pad-tb, .no-pad-bt { padding-top: 0 !important; padding-bottom: 0 !important; }
.pad-t-only { padding-left: 0 !important; padding-right: 0 !important; padding-bottom: 0 !important; }
.pad-b-only { padding-left: 0 !important; padding-right: 0 !important; padding-top: 0 !important; }
.pad-l-only { padding-right: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; }
.pad-r-only { padding-left: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; }

/* */
/* border helpers */
.no-border { border: none !important; }
.no-border-t { border-top:none !important; }
.no-border-r { border-right:none !important; }
.no-border-b { border-bottom:none !important; }
.no-border-l { border-left:none !important; }
.no-border-lr, .no-border-rl { border-left:none !important; border-right:none !important; }
.no-border-tb, .no-border-bt { border-top:none !important; border-bottom:none !important; }
.no-border-tl, .no-border-lt { border-top:none !important; border-left:none !important; }
.no-border-tr, .no-border-rt { border-top:none !important; border-right:none !important; }
.no-border-bl, .no-border-lb { border-bottom:none !important; border-left:none !important; }
.no-border-br, .no-border-rb { border-bottom:none !important; border-right:none !important; }
.border-dashed { border-style:dashed !important; }
.border-dotted { border-style:dashed !important; }
//change colors in the _variables.scss file
.border-black { border-color:$black; }
.border-light-grey { border-color:$lightGrey; }
.border-medium-grey { border-color:$mediumGrey; }
.border-grey { border-color:$grey; }
.border-dark-grey { border-color:$darkGrey; }
.border-white, .border-fff { border-color:$white; }

/* */
/* text colors */
.black { color:$black; }
.light-grey { color:$lightGrey; }
.medium-grey { color:$mediumGrey; }
.grey { color:$grey; }
.dark-grey { color:$darkGrey; }
.white, .fff { color:$white; }

/* */
/* background colors */
.bg-black { background-color:$black; }
.bg-light-grey { background-color:$lightGrey; }
.bg-medium-grey { background-color:$mediumGrey; }
.bg-grey { background-color:$grey; }
.bg-dark-grey { background-color:$darkGrey; }
.bg-white, .bg-fff { background-color:$white; }
.bg-none { background:none; background-image:none; background-color:transparent; }

/* */
/* font stuff */
.lh-1 { line-height: 1 !important; }
.lh-13 { line-height: 1.3 !important; }
.bold, .strong { font-weight: bold; }
.no-bold { font-weight: normal; }
.italic, .em { font-style: italic; }
.normal { font-weight: normal; font-style: normal; }
.sans-serif { font-family: $sansSerif; }
.serif { font-family: $serif; }
.uppercase { text-transform: uppercase; }
.size-small { font-size: 75% !important; }
.size-normal { font-size: 100% !important; }
.size-medium { font-size: 125% !important; }
.size-big { font-size: 150% !important; }
.inherit { font: inherit; }
.no-wrap { white-space: nowrap; }
.ls-0 { letter-spacing: -3px; margin-left: 10px; margin-right: 10px; white-space: nowrap; }
.no-ul, .no-ul:hover, .no-ul a, .no-ul a:hover { text-decoration: none; } /* can go on <a> or on its parent */

/* */
/* general helpers */
.color-inherit { color: inherit; }
.clear { clear: both; }
.clear:after { display: table; content: " "; clear: both; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.f-left { float: left; }
.f-right { float: right; }
.f-none { float:none; }
.in-block { display: inline-block !important; *display: inline !important; zoom: 1; }
.block { display: block !important; }
.d-none, .hide { display: none !important; }
.inline { display: inline !important; }
.rel { position: relative !important; }
.abs { position: absolute; }
.v-mid { vertical-align: middle !important; }
.full-input input, .full-input select, .full-input textarea { width: 100%; }
.no-shadow { box-shadow:none !important; }
.no-border-radius { border-radius:0 !important; }
/* wrap around a table to make it sorta responsive  */
.overflow-x-scroll { max-width: 100%; overflow-x: auto; } 
.no-overflow { overflow: hidden; }