$paddingIncrement:	5;
$marginIncrement:	5;
$repeat:	20;

$maxBorderWidth: 10;


$black: #000;
$white: #fff;
$grey: #999;
$lightGrey: #eee;
$mediumGrey: #ccc;
$darkGrey: #333;

$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, "Times New Romain", serif;