$paddingIncrement:	5;
$marginIncrement:	5;
$borderRadiusIncrement:	1;
$repeat:	20;

$maxBorderWidth: 10;


$black: #000;
$white: #fff;
$grey: #999;
$lightGrey: #e5e5e5;
$mediumGrey: #ccc;
$darkGrey: #222;

$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, "Times New Romain", serif;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;